---
import { Instagram, Facebook, Twitter } from 'lucide-astro';
import { cn } from "../lib/tailwind-utils";

const currentYear = new Date().getFullYear();
import {navItems} from "../utils/conts"
import NavLink from './NavLink.astro';
---


<footer
  class={cn(
    "w-full py-8 z-50 transition-all duration-300",
    "bg-[#F5E6D3] dark:bg-[#2C1810] border-t border-[#8B4513]/20 dark:border-[#E6D5C3]/10",
  )}
>
  <div
    class="flex flex-col md:flex-row items-center justify-between w-full max-w-7xl mx-auto px-6 sm:px-7 lg:px-9"
  >
    <div class="mb-6 md:mb-0">
      <h2 class="text-2xl font-bold text-[#4A3728] dark:text-[#E6D5C3]">Blog de Arte Latte</h2>
      <p class="text-sm text-[#8B4513] dark:text-[#D2B48C] mt-2">Explorando el arte en cada taza</p>
    </div>

    <nav class="mb-6 md:mb-0">
      <ul class="flex space-x-6">
        {navItems.map((item) => (
          <li>
            <NavLink 
              href={item.href}
              name={item.name}
              
            />
          </li>
        ))}
      </ul>
    </nav>

    <div class="flex space-x-4">
      <a href="https://www.instagram.com" >
        <Instagram size={24} />
        <span class="sr-only">Instagram</span>
      </a>
      <a href="https://www.facebook.com" >
        <Facebook size={24} />
        <span class="sr-only">Facebook</span>
      </a>
      <a href="https://x.com/home?lang=es" >
        <Twitter size={24} />
        <span class="sr-only">Twitter</span>
      </a>
    </div>
  </div>
  <div class="mt-8 text-center text-sm text-[#8B4513] dark:text-[#D2B48C]">
    © {currentYear} Blog de Arte Latte. Todos los derechos reservados.
  </div>
</footer>

