---

import NavLink from "./NavLink.astro";
import {navItems} from "../utils/conts"


---

<div class="flex flex-col md:flex-row md:items-center md:space-x-1">
  {navItems.map((item) => (
    <NavLink href={item.href} icon={item.icon} name={item.name} />
  ))}
</div>